# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=med_db


# App
APP_PORT=8080
JWT_SECRET=your_strong_jwt_secret_here
GIN_MODE=debug


# 1C Integration
ONESC_BASE_URL=http://1c-server:8080/hs/api
ONESC_TIMEOUT=30s
ONESC_USERNAME=admin
ONESC_PASSWORD=secret

# MinIO / Object Storage
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=fluorography
MINIO_USE_SSL=false
