# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=med_db

# App
APP_PORT=8080
JWT_SECRET=your_strong_jwt_secret_here
GIN_MODE=debug


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# 1C Integration
ONESC_BASE_URL=http://1c-server:8080/hs/api
ONESC_TIMEOUT=30s
ONESC_USERNAME=admin
ONESC_PASSWORD=secret